{% extends "blog/base.html" %}
{% load static %}
{% block content %}
<div class="container">
<div class="row">
<div class="col-7">
<h2>About Me</h2>
<img src="{% static 'images/prt.jpg' %}" alt="No image found" width=100%>
</div>
</div>
<div class="row">
<div class="col-10 mt-3">
<p align="justify">Hello My Name is <b>NarendraBabu</b>.I Completed My Bacheloar Degree in <b>Electronics&CommunicationEngineering(ECE) Stream</b>.I Learn Technologies like <b>Python With Django Framework and Some FrontEnd (UI/UX) Languages Also</b>.Now I am waiting for an opportunity to become Software Developer.Please Provide Me An Opportunity to Proove Myself.</p>
</div>
</div>
</div>

{% endblock %}
